$main-color: #16a34a;
$content-color: #E2E8F0;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');


body, input, button {
  font-family: 'Rubik', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.normal {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.svg {
  height: 20px;
  width: 20px;
}

#dashboard-logo {
  width: 60px;
  height: 60px;
  filter: invert(1);
}

#wrapper {
  display: flex;
}

#sidebar {
  background-color: $main-color;
  height: 100vh;
  width: fit-content;
}

#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 15px;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: white;
  img {
    filter: invert(1);
  }
}

.options {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  gap: 20px;
  div {
    display: flex;
    gap: 10px;
    color: white;
    img {
      align-self: center;
      filter: invert(1);
    }
  }
}

#header {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  gap: 15px;
}

#header-row1 {
  display: flex;
  justify-content: space-between;
}

#searchbar, #profile-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

#search-input {
  outline: none;
  border: none;
  width: 700px;
  height: 20px;
  padding: 5px;
  background-color: $content-color;
  border-radius: 15px;
}

#name {
  font-size: 0.9rem;
}

#header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#greetings {
  display: flex;
  align-items: center;
  gap: 15px;
}

#header-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn {
  background-color: $main-color;
  border: none;
  outline: none;
  color: white;
  font-size: 1.15rem;
  padding: 10px 30px;
  border-radius: 15px;
}